<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="customer.mapper">
	<select id="list" resultType="customer.CustomerVO">
		select * from customer
	</select>
	
	<insert id="insert">
		insert into customer(no, id, pwd, pwd_ck, name, gender, email, postcode, graduate_h, schoolname_h, location_h, birth_b, birth_e, 
						graduate_u, schoolname_u, location_u, graduate_m, schoolname_m, location_m, phone, roadaddress, detailaddress)
		values(seq_customer.nextval, #{id}, #{pwd}, #{pwd_ck}, #{name}, #{gender}, #{email}, #{postcode}, #{graduate_h}, #{schoolname_h}, #{location_h},
				#{graduate_u}, #{schoolname_u}, #{location_u}, #{graduate_m}, #{schoolname_m}, #{location_m}, #{phones}, #{roadaddress}, #{detailaddress})
	</insert>
</mapper>