@charset "UTF-8";

.btn-fill {
	background-color: black;
	color: white;
	font-weight: bold;
	border-radius: 10px;
	padding: 3px;
	cursor: pointer;
	font-size: 15px;
}

.btn-empty {
	background-color: #d9d9d9;
	color: black;
	font-weight: bold;
	border-radius: 10px;
	padding: 3px;
	cursor: pointer;
}

h2 {
	text-align: center;
	margin: 50px;
}

.content {
	width: 1300px;
	height: auto;
	overflow: hidden;
	text-align: center;
}

.product_explanation {
	width: 150px;
	height: 30px;
	margin: 0;
}

.product_name {
	width: 150px;
	height: 30px;
	float: left;
	line-height: 30px;
}

input {
	width: 700px;
	height: 24px;
	padding: 0 3px;
}

textarea {
	width: 85%;
	resize: none;
	height: 50px;
	padding: 0 3px;
}

.line {
	width: 1000px;
	height: 0;
	border: 1px solid #d4d4d4;
	margin: 0 30px;
}

.buy-btn {
	display: block;
	background: #000000;
	box-shadow: 5px 5px 16px 0 rgba(0, 0, 0, .3);
	font-weight: 600;
	color: #ffffff;
	margin: 0 1px 10px 0;
	padding: 17px 30px;
	font-size: 16px;
	letter-spacing: 3px;
	text-align: center;
	height: 50px;
	line-height: 50px;
}

.main {
	height: 50px;
	text-align: center;
	font-size: 30px;
}

table {
	margin: 0 auto;
	width: 60%;
	border-top: 1px solid #ececec;
	border-collapse: collapse;
	border: 1px solid #ececec
}

table th, table td {
	border-bottom: 1px solid #ececec;
	padding: 10px;
}

table th {
	width: 120px;
	font-size: 13px;
	color: #545454;
	font-weight: lighter;
}

input {
	width: 150px;
}

.btn-fill-s {
	background-color: black;
	color: white;
	font-weight: bold;
	border-radius: 10px;
	padding: 3px;
	cursor: pointer;
	font-size: 11px;
}

select {
	height: 28px;
}

.phone {
	width: 30px;
}

.login-findBox {
	width: 360px;
}

.login-findBox-tagBox {
	margin: 25px auto;
	width: 200px;
	height: 35px;
}

.login-findBox-tag {
	width: 100px;
	height: 30px;
	line-height: 30px;
	float: left;
	font-size: 11px;
	color: #545454;
	font-weight: lighter;
	margin-top: 0px;
	text-align: center;
}

.loginBox {
	margin-top: 0;
	width: 300px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	display: block;
	background: #000000;
	box-shadow: 5px 5px 16px 0 rgba(0, 0, 0, .3);
	font-weight: 600;
	color: #ffffff;
	margin: 0 1px 10px 0;
	padding: 17px 30px;
	font-size: 16px;
	letter-spacing: 3px;
}

.login-bar {
	width: 200px;
	height: 100px;
	line-height: 114px;
	margin: 0;
	float: left;
	text-align: right;
	font-size: 10px;
	color: #545454;
	font-weight: lighter;
}

.position {
	width: 900px;
	height: 100px;
	float: right;
	margin-top: 0px;
}

.list {
	list-style: none;
	float: right;
	font-size: 20px;
	color: dimgray;
	padding: 0 20px;
}

.bar {
	list-style: none;
	float: right;
	border-right: 1px solid #ddd;
	height: 16px;
	margin: 33px 5px;
}

.list-s {
	list-style: none;
	float: right;
	font-size: 13px;
	color: dimgray;
	padding: 0 8px;
}

.head-selectBox {
	width: 590px;
	height: 50px;
	float: left;
	margin: 0;
	line-height: 0px;
}

.searchKeyword {
	width: 454px;
	vertical-align: top;
}

.list-allCheck, .list-checkBox{
	width: 13px;	
}

.delete{
	float: left;
    width: 110px;
    height: 50px;
    line-height: 30px;
    margin: 0;
    font-size: 13px;
    color: dimgray;
}

.loginBox, .login-findBox a{
	cursor: pointer;
}

#findIdTb, #findPwTb{
	width: 380px;	
}

.findId-radioText{
	font-weight: bold;
	color: black;
	font-size: 14px;
}

.findId-radio{
	width: 12px;
    height: 12px;
}

#findPwTb tr td input{
	width: 200px;
}