@charset "UTF-8";

.btn-fill {
	background-color: black;
	color: white;
	font-weight: bold;
	border-radius: 10px;
	padding: 3px;
	cursor: pointer;
	font-size: 15px;
}

.btn-empty {
	background-color: #d9d9d9;
	color: black;
	font-weight: bold;
	border-radius: 10px;
	padding: 3px;
	cursor: pointer;
}

#list ul li {
	cursor: pointer;
}

#list ul li:hover {
	color: white;
	background-color: black;
}

h2 {
	text-align: center;
	margin: 50px;
}

.content {
	width: 1300px;
	height: auto;
	overflow: hidden;
	text-align: center;
}

.product_explanation {
	width: 150px;
	height: 30px;
	margin: 0;
	line-height: 30px;
	float: left;
}

.product_name, .product_category {
	width: 150px;
	height: 30px;
	float: left;
	line-height: 30px;
	margin-top: 0;
}

input {
	width: 700px;
	height: 24px;
	padding: 0 3px;
}

textarea {
	width: 85%;
	resize: none;
	height: 50px;
	padding: 0 3px;
}

.line {
	width: 1000px;
	height: 0;
	border: 1px solid #d4d4d4;
	margin: 0 30px;
}

.buy-btn {
	display: block;
	width: 320px;
	background: #000000;
	box-shadow: 5px 5px 16px 0 rgba(0, 0, 0, .3);
	font-weight: 600;
	color: #ffffff;
	margin: 4px 1px 10px 10px;
	padding: 17px 30px;
	font-size: 16px;
	letter-spacing: 3px;
	text-align: center;
	height: 22px;
	line-height: 22px;
	float: left;
	cursor: pointer;
}

.main {
	height: 50px;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
}

table {
	margin: 0 auto;
	width: 60%;
	border-top: 1px solid #ececec;
	border-collapse: collapse;
	border: 1px solid #ececec
}

table th, table td {
	border-bottom: 1px solid #ececec;
	padding: 10px;
}

.cartPage td {
	text-align: center;
}

table th {
	width: 120px;
	font-size: 13px;
	color: #545454;
	font-weight: lighter;
}

input {
	width: 150px;
}

.btn-fill-s {
	background-color: black;
	color: white;
	font-weight: bold;
	border-radius: 10px;
	padding: 3px;
	cursor: pointer;
	font-size: 11px;
}

select {
	height: 28px;
}

.phone {
	width: 30px;
}

.login-findBox {
	width: 360px;
}

.login-findBox-tagBox {
	margin: 25px auto;
	width: 200px;
	height: 35px;
}

.login-findBox-tag {
	width: 100px;
	height: 30px;
	line-height: 30px;
	float: left;
	font-size: 11px;
	color: #545454;
	font-weight: lighter;
	margin-top: 0px;
	text-align: center;
}

.loginBox {
	margin-top: 0;
	width: 300px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	display: block;
	background: #000000;
	box-shadow: 5px 5px 16px 0 rgba(0, 0, 0, .3);
	font-weight: 600;
	color: #ffffff;
	margin: 0 1px 10px 0;
	padding: 17px 30px;
	font-size: 16px;
	letter-spacing: 3px;
}

.login-bar {
	width: 200px;
	height: 100px;
	line-height: 114px;
	margin: 0;
	float: left;
	text-align: right;
	font-size: 10px;
	color: #545454;
	font-weight: lighter;
}

.position {
	width: 900px;
	height: 100px;
	float: right;
	margin-top: 0px;
}

.list {
	list-style: none;
	float: right;
	font-size: 20px;
	color: dimgray;
	padding: 0 20px;
}

.bar {
	list-style: none;
	float: right;
	border-right: 1px solid #ddd;
	height: 16px;
	margin: 33px 5px;
}

.list-s {
	list-style: none;
	float: right;
	font-size: 13px;
	color: dimgray;
	padding: 0 8px;
}

.head-selectBox {
	width: 590px;
	height: 50px;
	float: left;
	margin: 0;
	line-height: 0px;
}

.searchKeyword {
	width: 454px;
	vertical-align: top;
}

.list-allCheck, .list-checkBox {
	width: 13px;
	text-align: center;
}

.delete {
	float: left;
	width: 110px;
	height: 50px;
	line-height: 30px;
	margin: 0;
	font-size: 13px;
	color: dimgray;
}

.loginBox, .login-findBox a {
	cursor: pointer;
}

#findIdTb, #findPwTb {
	width: 380px;
}

.findId-radioText {
	font-weight: bold;
	color: black;
	font-size: 14px;
}

.findId-radio {
	width: 12px;
	height: 12px;
}

#findPwTb tr td input {
	width: 200px;
}

.seqBox {
	height: 50px;
	line-height: 50px;
	margin-top: 0;
}

.seqBox select {
	float: left;
}

.pd_nameInput {
	width: 600px;
	float: left;
}

.imagefiles {
	width: 780px;
	height: auto;
	float: left;
	padding-left: 25px;
}

.content a {
	cursor: pointer;
}

.imagepath, .imagepath img {
	width: 550px;
	height: 550px;
	float: left;
}

.detail_infoArea {
	width: 550px;
	height: 550px;
	border-top: 1px solid;
	float: right;
}

.detail_name {
	width: 550px;
	height: 25px;
	line-height: 15px;
	font-size: 20px;
}

.detail_price {
	width: 550px;
	height: 50px;
	line-height: 15px;
	font-size: 15px;
	font-weight: bold;
	border-bottom: 1px solid #ececec;
}

.detail_explanation {
	width: 550px;
	margin-top: 0px;
	height: 50px;
	line-height: 50px;
	border: 1px solid #e1e1e1;
}

.quantity input {
	width: 22px;
	height: 25px;
	text-align: center;
	padding: 0 2px 0 3px;
	line-height: 23px;
	border: 1px solid #d4d8d9;
	border-radius: 3px 0 0 3px;
	float: left;
	margin-top: 12px;
}

.img-box {
	width: 1200px;
	height: auto;
	margin: 20px auto;
	bottom: 0;
}

.detail_image {
	width: 1000px;
	margin: 0 auto;
}

.btn-box {
	width: 150px;
}

.wish-btn {
	display: inline-block;
	width: 115px;
	font-weight: 600;
	margin: 4px 0 0 0;
	background: #ffffff;
	color: #222222;
	border: 1px solid #ccc;
	padding: 12px 20px;
	font-size: 13px;
	letter-spacing: 1px;
	text-align: center;
	height: 30px;
	line-height: 30px;
	float: left;
	cursor: pointer;
}

.cartBox {
	width: 550px;
	height: 50px;
	margin-top: 20px;
	height: 70px;
}

.quantity {
	width: 83px;
	height: 50px;
	line-height: 50px;
	margin-top: 0;
	float: left;
}

.quantity img {
	height: 27px;
	width: 27px;
	margin-top: 12px;
}

.detail_exp_name {
	width: 320px;
	line-height: 50px;
	height: 50px;
	margin: 0 0 0 10px;
	float: left;
	font-size: small;
}

.detail_exp_price {
	float: right;
	font-size: small;
	font-weight: bold;
	margin-right: 10px;
}

.totalPrice {
	margin: 0 0 0;
	padding: 10px 9px 19px;
	text-align: right;
	color: #353535;
	vertical-align: middle;
	float: left;
	width: 540px;
	height: 40px;
	line-height: 50px;
}

.totalStr {
	font-weight: 500;
	font-size: smaller;
}

.product_price_f {
	float: left;
	line-height: 30px;
	margin-right: 10px;
	font-weight: 600;
}

#totalVal {
	border: white;
	font-weight: bold;
	font-size: medium;
}

.delete-img {
	width: 20px;
	position: relative;
	left: -20px;
}

.imageBox {
	width: 110px;
	height: 90px;
	float: left;
	margin: 0;
}

.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 300px;
	height: 110px;
}

/* The Close Button */
.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover, .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.cartFont {
	font-size: 15px;
	font-weight: 600;
	text-align: center;
	line-height: 15px;
}

.cartNoti {
	width: 300px;
	height: 50px;
	line-height: 50px;
}

.go_cart, .go_shopping {
	float: left;
	border: 1px solid;
	width: 140px;
	height: 40px;
	line-height: 40px;
	margin-top: 10px;
	text-align: center;
	font-size: small;
	font-weight: 600;
	cursor: pointer;
}

.go_cart {
	background: #000000;
	color: #ffffff;
}

.go_shopping {
	border: 1px solid #ccc;
	margin-left: 10px;
}

.cartSelectDel {
	height: 40px;
	vertical-align: bottom;
	border-left: hidden;
	border-right: hidden;
	border-bottom: hidden;
}

.btnBorder {
	border: 1px solid #ddd;
	padding: 5px;
	font-size: 14px;
}

.cartBuyBtn {
	width: 200px;
	float: left;
	border: 1px solid #ddd;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-weight: bold;
}

.btnBorder:hover, .cartBuyBtn:hover {
	cursor: pointer;
}

.orderCustomerInfo, .recipientInfo {
	margin-bottom: 20px;
}

.orderCustomer{
    font-weight: bold;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    font-size: 20px;
}

.orderCustomerDetail{
	font-weight: bold;
	font-size: 14px;
    width: 15%;
	background-color: #ededed;
	border-bottom: 1px solid #dbdbdb;
}

.payMethod{
	width: 10px;
    height: 10px;
}